.post-detail{

}

.post-container{
  padding: 20px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

@media screen and (max-width: 750px) {
  .post-container {
    display: grid;
  grid-template-rows: 200px 3fr;
  grid-template-columns: 1fr;
  }
  .post-col1{
    display: flex;
    justify-content: center;
  }
} 
  
