@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root{
  --black: rgb(35,35,35);
  --white: 	rgb(255,255,235);
  --link : rgb(35,35,35);
}

body{
 padding: 20px;
 background-color: 	var(--white);
 color: var(--black);
 font-family: 'Manrope', sans-serif;

}

.dashboard{
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 50px 20px;
  font-size: 16pt;
  border-bottom: 1px solid gray;
  font-family: "Helvetica", Sans-Serif;
  font-weight: 600;

}

.blog-name{
  font-size: 30pt;
   color: var(--link); 
  text-decoration: none;
  transition: 0.5s;
  font-weight: 510;
  font-family: 'Manrope', sans-serif;

}
  .blog-name:hover{
    transform: translateX(-5px);
  }

.home-link{
  text-decoration: none;
  color: var(--link);
  font-size: 18pt;
  cursor: pointer;
  transition: 0.5s;
  font-family: 'Manrope', sans-serif;
}

.home-link:hover{
  padding-right: 20px;
  border-right: 1px solid var(--black);
}

.dashboard-menu{
  display: flex;
  gap: 20px;
}
#toggle-mode{
  font-size: 12pt;
  
}
#mode-icon{
  font-size: 20pt;
}

@media screen and (max-width:500px) {
  .dashboard-menu{
    flex-direction: column-reverse;
    align-items: center;
  }
}